:root {
  --main: #2e1114;
}

html, body {
  padding:0;
  margin: 0;
  background-color: var(--main);
  width: 100%;
}

/* #loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  background-color: black;
  color: white;
  height: 105vh;
  width: 100vw;
  z-index: 2;
} */

.name span {
  font-family: 'Vollkorn',serif;
  padding-left: 20px;
  font-size: 0.8em;
}

.hidden{
  transition: opacity 1s ease-out 0.5s;
}

.gone {
  opacity: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  padding-top: 5em;
  gap: 10px;
  background-image: url('../photos/gray_line_drawings_of_organic_shapes_background.jpg');
  background-size: cover;
}


#main-box {
  /* background-color: #ffd22f; */
  background-image: url('../photos/4.jpg');
  background-size: cover;
  background-position: center right;
  width: 90%;
  /* height: calc(100vh - 4em); */
  padding-bottom: 10%;
}

header {
  font-size: 2em;
  font-family: 'Karla',sans-serf;
  color: var(--main);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100%;
  background-color:white;
  padding-right: 20px;
  border-bottom: 10px solid var(--main);
  z-index: 1;
}

.favorite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  width: 90%;
  margin-top: 30px;
}

#our-favorites {
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
}

.gallery {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  gap: 10px;
}

.gallery > img {
  width: 100%;
}

#gallery-one, #gallery-two{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#order-btn {
  padding: 10px 20px 10px 20px;
  background-color: var(--main);
  color: white;
  font-size: 1.4em;
  font-family: 'Vollkorn',serif;
  margin-top: 10%;
  border: 5px black;
}

#order-btn:hover{
  cursor: pointer;
  color: var(--main);
  background-color: white;
}

.nav-item:hover {
  cursor: pointer;
}


.nav-menu {
  display: flex;
  justify-content:center;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0px;
}

.nav-menu > li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 0.6em;
  padding: 0 10px 0 10px;
}


.hidden {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  margin-right: 5px;
}

.bar {
  width: 25px;
  height: 5px;
  background-color: var(--main);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#intro > img {
  width: 40%;
  position: relative;
  bottom: 450px;
  right: -350px;
  overflow: hidden;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 2em);

}


.main-title {
  font-family: 'Oswald', sans-serif;
  width: max-content;
  color: white;
  padding-left: 8%;
  padding-top: 1%;
}

.main-title > div {
  -webkit-text-stroke: 2px var(--main);
  font-size: 6vw;
}

.about-us {
  margin-top: 50px;
  width: 90%;
  background-color: var(--main);
  display: flex;
  justify-content: center;
  gap: 20%;
  padding: 50px 0 50px 0;
  font-family: 'Fira Sans', sans-serif;
}

.about-us-left  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  gap: 30px;
}

.about-us-left > div, .about-us-right > div{
  color: white;
}

.about-us-left > div, #open {
  font-size: 50px;
}

#open {
  margin-bottom: 30px;
}

#open-hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.about-us-right {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}
footer {
  background-color: white;
  padding: 10px 0 10px 0;
  font-size: 15px;
  width: 100%;
  display: flex;
  color: #2e1114;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--main);
}

#call-us {
  font-size: 40px;
}

#number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#phone-number {
  font-size: 25px;
}

.about-us, .favorite {  
  margin: 50px 5% 0 5%;
}

@media only screen and (min-width: 768px) {
  .nav-menu {
    height: 100%;
  }
  .nav-menu > li:hover {
    background-color: white;
    color: var(--main);
  }

}

@media only screen and (min-width: 1856px){
  .gallery {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  padding: 20px;
  gap: 10px;
  }

}

@media only screen and (max-width: 1168px){
  .about-us {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
  }

  .about-us-right {
    gap: 3em;
  }
}

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -120%;
      top: 4.5rem;
      flex-direction: column;
      background-color:white;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
      margin-top: 0;
      padding: 0;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .name {
    font-size: 1em;
  }

  .hamburger {
    display: flex;
    margin-top: -1px;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  header {
    height: 2.6em;
  }
  }

